body {
	padding-bottom: 40px;
	padding-top: 90px;
}

.navbar-wrapper {
	margin-top: 20px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

.carousel {
	height: 500px;
	width: 100%;
	margin-top: -90px;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;
}

.carousel img {
	height: 100%;
	overflow: auto;
	position: absolute;
	left: -25%;
}

.carousel-caption p {
	font-size: 21px;
	line-height: 1.4;
}

#sections > .button {
	width: 100%;
	margin: 0 0 10px 0;
	text-align: left;
}
#sections > .button:nth-of-type(1) {
	background-color: #DD1E2F;
}
#sections > .button:nth-of-type(2) {
	background-color: #EBB035;
}
#sections > .button:nth-of-type(3) {
	background-color: #218559;
}
#sections > .button:nth-of-type(4) {
	background-color: #06A2CB;
}
#sections > .button:nth-of-type(5) {
	background-color: #D0C6B1;
}
